<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eat-Da-Burger</title>
</head>
<body>
    <h1>Eat-Da-Burger</h1>
    <img class="burger-pic" src="assets/img/burger.png" alt="burger">
    {{{ body }}}

    <h2>Add a Burger</h2>
    <form class="burger">
    <div class="burger-form">
        <input type="text" name="burger" id="burger-name">
    </div>
    <div class="burger-form">
        <input type="submit" value="Add Burger">
    </div>
    </form>
    <script src="assets/js/burger.js"></script>
</body>
</html>